.form{
    color: blue;
    text-align: left;
    width: 50%;
    margin: auto;
}

.inputError{
    border: red solid 2px;
    background-color: rgb(240, 200, 200);
    color: #1f5cad;
}

.inputError::placeholder{
    color: #be4a4a;
   
}

.legend{
    position: relative;
    margin: auto;
    border: #be4a4a solid 1px;
    border-radius: 20px;
}

.reset{
    color: brown;
    background-color: #80b1dc;
    border: none;
   cursor: pointer;
   
}

.reset:hover{
    background-color: #1f5cad;
}

/*Hidden elements*/
.hidden{
    display: none;
}