h1{
    color: white;
    background-color: #0c2e6ce6;
    margin: -10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;

}

#container{
    display: flex;
}

li{
    list-style-type: none;
}

#container aside{
    flex: 2;
    margin-left: -0.5rem;
    margin-top: 0.5rem;
}

#container main{
    flex: 3;
    margin-top: -0.70rem;
    margin-bottom: -.50rem;
    margin-right: -2rem;
    padding-top: 1rem;
    padding-right: 3rem;
}



#container ul li a{
    background-color: #cbcaca;
    display: inline-block;
    width: 100%; 
    margin-left: -3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

a{
    text-decoration: none;
    text-align: center;
   
}

#container ul li a:hover{
    color: white;
    background-color: #0c2e6ce6;
}

footer p{
    color: white;
    background-color: black;
    margin:  -8px;
    padding: 1rem;
}   


